extends layout

block content
  div(class="container")
    h1= title

    form#form(method="post" action="/")
    input#item(type="text" placeholder="Add new item" name="item" required)
    button#button(type="submit" onclick="addItem()") Add

  div(id="list" class="container2")  

  script(src='../javascripts/scripts.js')