extends layout

block content
  div(class="container")
    h1= title

  form#form(onsubmit="addItem(event)")
    input#item(type="text" placeholder="Add new item to the list" name="item" required)
    button#button(type="submit") Add

  div(id="list" class="container2")  

  script(src='../javascripts/scripts.js')