extends layout

block content
  h1= title
  p Add new item to the list

  form#formcreateperson(method="post" action="/addperson")
  input#formname(type="text" placeholder="Write new item" name="item")
  button#formsubmit(type="submit") Create