extends layout

block content
  h1= title
  p Add new item to the list

  form#form(method="post" action="/")
  input#item(type="text" placeholder="Write new item" name="item" required)
  button#button(type="submit" onclick="addItem()") Create

  script(src='../javascripts/scripts.js')